<elementdetail
  backpath="$ctrl.backpath"
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="lore_change_name_label"
  characters="$ctrl.lore.characters"
  content="$ctrl.lore.description"
  deleteconfirmmessage="lore_delete_confirm"
  deleteenabled="true"
  deleteforbidden="$ctrl.deleteforbidden"
  deleteforbiddenmessage="lore_delete_ko"
  deletefunction="$ctrl.delete()"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL"
  headertitle="{{$ctrl.lore.name}}"
  lastsave="$ctrl.lore.lastsave"
  savefunction="$ctrl.savefunction()"
  taskstatus="$ctrl.lore.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.lore.words"
  wordscharactersenabled="true">
</elementdetail>
