<div class="container">
    <cardgrid
        carddimension="normal"
        dndenabled="true"
        dropfunction="$ctrl.move(draggedObjectId, destinationObjectId)"
        emptylisttext="lore_emptylist"
        emptylistbuttonlabel="lore_create_first"
        emptylistbuttonfunction="$ctrl.create()"
        family="lore"
        items="$ctrl.cardgriditems"
        pageheaderbuttonlabel="lore_create"
        pageheaderbuttonfunction="$ctrl.create()"
        pageheadersubtitle="lore_description"
        pageheadertitle="lore"
        selectfunction="$ctrl.select(id)"
        type="full">
    </cardgrid>
  </div>
  